<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bravo Supermarket - Sales Management</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/employeeStyles.css">
    <link rel="stylesheet" href="/styles/FontAwesome.min.css">
    <link rel="stylesheet" href="/styles/grid-system.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/jquery-confirm.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/select2.min.css"/>
    <link rel="stylesheet" href="/styles/categories.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/FontAwesome.min.js"></script>
    <script type="text/javascript" src="/js/dataTables/datatables.min.js"></script>
    <script type="text/javascript" src="/js/dataTables/dataTables.select.min.js"></script>
    <script type="text/javascript" src="/js/dataTables/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="/js/jquery-confirm.js"></script>
    <script type="text/javascript" src="/js/select2.min.js"></script>
    <script src="/ejs.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
