<div class='all-wrapper'>
    <div class='widget'>
        <div class='widget-title'>
            <h2>تعديل <span>الموظفين</span></h2>
        </div>
        <% for(employee in employees){ %>
            <form id='editEmployee<%= employee %>' class='editEmployee'>
                <label for='employeeName'>إسم الموظف</label>
                <input type="text" name="employeeName" class='employeeName' value='<%= employees[employee].emp_name %>' required>
                <label for='employeeUsername'>اسم المستخدم</label>
                <input type="text" name="employeeUsername" disabled class='employeeUsername' value='<%= employees[employee].emp_id %>' required>
                <label for='employeeStatus'>الحالة</label>
                <select name="employeeStatus" class="employeeStatus">
                    <option value="يعمل" <% if(employees[employee].emp_status == 'يعمل'){ %> selected="true" <% } %>>يعمل</option>
                    <option value="متقاعد" <% if(employees[employee].emp_status == 'متقاعد'){ %> selected="true" <% } %>>متقاعد</option>
                    <option value="مفصول" <% if(employees[employee].emp_status == 'مفصول'){ %> selected="true" <% } %>>مفصول</option>
                </select>
            </form>
        <% } %>
        <button class='submit-edit-employee sbutton'><span><i class="fas fa-save"></i></span>حفظ التعديلات</button>
    </div>
</div>
<script type="text/javascript">
$(document).ready(() => {
    $('.employeeStatus').select2();
    $('.submit-edit-employee').on('click', () => {
        $.alert({
            title: 'تأكيد',
            icon: 'fas fa-question',
            draggable: false,
            rtl:true,
            closeIcon: true,
            type: 'orange',
            content: 'هل أنت متأكد من حفظ التعديلات ؟',
            buttons: {
                ok: {
                    text: 'نعم',
                    btnClass: 'btn-blue',
                    action: function () {
                        let employeesToEdit = [];
                        $.each($(".editEmployee"), (index, record) => {
                            let employeeName = $(record).find(".employeeName").val(),
                                employeeUsername = $(record).find(".employeeUsername").val(),
                                employeeStatus = ($(record).find('.employeeStatus').select2('data')[0]).text;
                            employeesToEdit.push({employeeName, employeeUsername, employeeStatus});
                        });
                        $.ajax({
                            url: `/submit-edit-employees`,
                            type: `POST`,
                            data: {employeesToEdit},
                            success: () => {
                                $.alert({
                                    title: 'نجاح!',
                                    icon: 'fas fa-check',
                                    draggable: false,
                                    rtl:true,
                                    closeIcon: true,
                                    type: 'green',
                                    content: 'تم تعديل الموظفين بنجاح',
                                    buttons: {
                                        cancel: {
                                            text: 'حسنا',
                                            action: function () {
                                                route('/employees');
                                            }
                                        }
                                    }
                                });
                            },
                            error: () => {
                                $.alert({
                                    title: 'أوبس!',
                                    icon: 'fas fa-exclamation-triangle',
                                    draggable: false,
                                    rtl:true,
                                    closeIcon: true,
                                    type: 'red',
                                    content: 'حدث خطأ أثناء تحديث الموظفين!',
                                    buttons: {
                                        cancel: {
                                            text: 'حسنا',
                                            action: function () {

                                            }
                                        }
                                    }
                                });
                            }
                        });
                    }
                },
                cancel: {
                    text: 'لا',
                    action: function () {

                    }
                }
            }
        });
    });
});
</script>

