<div class='all-wrapper'>
    <div class='row'>
        <div class='add-employee-wrapper col-sm-6 col-xs-12'>
            <div class='add-employee widget'>
                <div class='widget-title'>
                    <h2><span>إضافة</span> موظف</h2>
                </div>
                <form id='addEmployee'>
                    <div class="alert alert-danger alert-dismissible hide" role="alert">
                        <strong>يبدو أن هناك مشكلة!</strong> ربما اسم المستخدم غير موجود أو كلمة المرور خاطئة
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <label for='employeeName'>اسم الموظف</label>
                    <input type="text" name="employeeName" class='employeeName' required>
                    <label for='employeeUsername'>اسم المستخدم</label>
                    <input type="text" name="employeeUsername" class='employeeUsername' required>
                    <label for='employeePassword'>كلمة المرور</label>
                    <input type="password" name="employeePassword" class='employeePassword' required>
                    <label for='employeeRole'>الوظيفة</label>
                    <select name="employeeRole" class="employeeRole">
                        <option value="Manager">Manager</option>
                        <option value="Cashier">Cashier</option>
                        <option value="Vendor">Vending Manager</option>
                        <option value="Guest">Guest</option>
                    </select>
                    <button class='main-background submit-employee mbutton'><span><i class="fas fa-plus"></i></span>إضافة الموظف</button>
                </form>
            </div>
        </div>
        <div class='employees-table-wrapper col-xs-12'>
            <employees-table></employees-table>

        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(() => {

    let showAllEmployees =  () => {
        $.ajax({
            url: '/employees/api',
            method: 'GET',
            data: {},
            success: (data) => {
                let ejsData = ejs.render(tableTemplate, {
                    title: 'الموظفين',
                    columns: [
                        'إسم المستخدم',
                        'إسم الموظف',
                        'الوظيفة',
                        'تاريخ التوظيف',
                        'حالةالموظف'
                    ],
                    tuples: data
                });
                $('employees-table').html(ejsData);
                styleTables({
                    onDelete: () => {

                    },
                    onEdit: (e, buttonApi, dt, node, config) => {
                        console.log(buttonApi.rows( { selected: true } ).nodes());
                        /*const rows = buttonApi.rows( { selected: true } ).nodes();
                        editRoute = "employees/edit/?";
                        for(let i = 0; i < rows.length; i++){
                            editRoute += `${i}=${rows[i].attributes.rowkey.nodeValue}`;
                            if(i != rows.length - 1)
                                editRoute += `&`;
                        }
                        window.open(editRoute, '_blank');*/
                    }
                });
            }
        });
    }
    showAllEmployees();

    $('.employeeRole').select2();


    $(".submit-employee").on("click", (e) => {
        e.preventDefault();
        let employeeName = $('.employeeName').val(),
            employeeUsername = $('.employeeUsername').val(),
            employeePassword = $('.employeePassword').val(),
            employeeRole = ($('.employeeRole').select2('data')[0]).text;
            
        $.ajax({
            url: `/submit-employee`,
            type: `POST`,
            data: {employeeName, employeeUsername, employeePassword, employeeRole},
            success: (status) => {
                employeesTable.row.add([employeeUsername, employeeName, employeeRole]).draw( false );
                $.alert({
                    title: 'نجاح!',
                    icon: 'fas fa-check',
                    draggable: false,
                    rtl:true,
                    closeIcon: true,
                    type: 'green',
                    content: 'تمت إضافة الموظف بنجاح',
                    buttons: {
                        cancel: {
                            text: 'حسنا',
                            action: function () {

                            }
                        }
                    }
                });
            },
            error: (err) => {
                console.log(err);
                if(err.status == 409){
                    $.alert({
                        title: 'أوبس!',
                        icon: 'fas fa-exclamation-triangle',
                        draggable: false,
                        rtl:true,
                        closeIcon: true,
                        type: 'red',
                        content: 'الموظف موجود بالفعل!',
                        buttons: {
                            cancel: {
                                text: 'حسنا',
                                action: function () {

                                }
                            }
                        }
                    });
                }
            }
        });
    });

});
</script>
