<div class='all-wrapper'>
    <div class='error-wrapper'>
        <h1>أوبس<span>!</span></h1>
        <h2>404 - الصفحة غير موجودة</h2>
        <p>من المرجح أنك لا تملك صلاحية الوصول لهذه الصفحة أو أنها غير موجودة.</p>
        <a onclick="$('.menu-item')[0].click();" style="cursor: pointer">العودة للصفحة الرئيسية</a>
    </div>
</div>
