<%- include('./partials/head.ejs') %>

<div class='error-wrapper'>
    <h1>أوبس<span>!</span></h1>
    <h2>404 - الصفحة غير موجودة</h2>
    <p>من المرجح أنك لا تملك صلاحية الوصول لهذه الصفحة أو أنها غير موجودة.</p>
    <a href="/">العودة للصفحة الرئيسية</a>
</div>
<%- include('./partials/footer.ejs') %>