<%- include('./partials/head.ejs') %>

<%- include('./partials/sidemenu.ejs') %>

<%- include('./partials/footer.ejs') %>
<div class='all-wrapper'>
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>صنف المنتج</th>
            <th>سعر البيع</th>
            <th>الكمية</th>
            <th>إسم المنتج</th>
            <th>المورد</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>الخضراوات والفواكه</td>
            <td>15 شيقل</td>
            <td>125</td>
            <td>خيار</td>
            <td>حسبة أبو خميس</td>
        </tr>
        <tr>
            <td>الخضراوات والفواكه</td>
            <td>11 شيقل</td>
            <td>10</td>
            <td>بندورة</td>
            <td>حسبة ام خميس</td>
        </tr>
        <tr>
            <td>الخضراوات والفواكه</td>
            <td>18 شيقل</td>
            <td>852</td>
            <td>بطاطا</td>
            <td>حسبة أخو خميس</td>
        </tr>
        <tr>
            <td>المعلبات</td>
            <td>10 شيقل</td>
            <td>500</td>
            <td>فول</td>
            <td>المورد فلان الفلاني</td>
        </tr>
        <tr>
            <td>المش معلبات</td>
            <td>74 شيقل</td>
            <td>22</td>
            <td>فاصوليا</td>
            <td>المورد فلان بس مش الفلاني</td>
        </tr>        <tr>
            <td>الخضراوات والفواكه</td>
            <td>15 شيقل</td>
            <td>125</td>
            <td>خيار</td>
            <td>حسبة أبو خميس</td>
        </tr>
        <tr>
            <td>الخضراوات والفواكه</td>
            <td>11 شيقل</td>
            <td>10</td>
            <td>بندورة</td>
            <td>حسبة ام خميس</td>
        </tr>
        <tr>
            <td>الخضراوات والفواكه</td>
            <td>18 شيقل</td>
            <td>852</td>
            <td>بطاطا</td>
            <td>حسبة أخو خميس</td>
        </tr>
        <tr>
            <td>المعلبات</td>
            <td>10 شيقل</td>
            <td>500</td>
            <td>فول</td>
            <td>المورد فلان الفلاني</td>
        </tr>
        <tr>
            <td>المش معلبات</td>
            <td>74 شيقل</td>
            <td>22</td>
            <td>فاصوليا</td>
            <td>المورد فلان بس مش الفلاني</td>
        </tr>        <tr>
            <td>الخضراوات والفواكه</td>
            <td>15 شيقل</td>
            <td>125</td>
            <td>خيار</td>
            <td>حسبة أبو خميس</td>
        </tr>
        <tr>
            <td>الخضراوات والفواكه</td>
            <td>11 شيقل</td>
            <td>10</td>
            <td>بندورة</td>
            <td>حسبة ام خميس</td>
        </tr>
        <tr>
            <td>الخضراوات والفواكه</td>
            <td>18 شيقل</td>
            <td>852</td>
            <td>بطاطا</td>
            <td>حسبة أخو خميس</td>
        </tr>
        <tr>
            <td>المعلبات</td>
            <td>10 شيقل</td>
            <td>500</td>
            <td>فول</td>
            <td>المورد فلان الفلاني</td>
        </tr>
        <tr>
            <td>المش معلبات</td>
            <td>74 شيقل</td>
            <td>22</td>
            <td>فاصوليا</td>
            <td>المورد فلان بس مش الفلاني</td>
        </tr>
    </tbody>
</table>
</div>
<%- include('./partials/footer.ejs') %>
