<div class="row">
    <div class='col-sm-6 col-xs-12'>
        <div class='widget'>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <form>
                <hr />
                <div style="
                height: calc(100vh - 435px);
                overflow-y: scroll;
                padding: 20px;">
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                    <h2>طلبية <span>جديدة</span></h2>
                </div>
                <hr />
                <button class='main-background submit-employee mbutton'><span><i class="fas fa-plus"></i></span>تثبيت الطلبية</button>
            </form>
        </div>
    </div>
    <div class='col-sm-6 col-xs-12'>
        <div class='widget' style="height: calc(100vh - 260px); overflow-y: scroll;">
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
            <div class='widget-title'>
                <h2>طلبية <span>جديدة</span></h2>
            </div>
        </div>
    </div>
</div>
