<div class="all-wrapper">
    <div class="row" style="margin-bottom: 20px;">
        <ul class="widget h-nav">
            <% for (const tab of tabs) { %>
                <li class="h-nav-item"
                    onclick="
                            showRequests('/<%= tab.path %>', '<%= tab.method %>');
                            [...$('.h-nav-item')].forEach(item => item.classList.remove('active'));
                            event.currentTarget.classList.add('active');
                            "><%= tab.title %></li>
            <% } %>
        </ul>
    </div>
    <div class="row">
        <requests-template></requests-template>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(() => {
        [...$('.h-nav-item')][0].click();
    });


    function popUp(title, path) {
        event.preventDefault();
        $.ajax({
            url: path,
            method: 'GET',
            data: {},
            success: (data) => {
                let ejsData = data;
                if (!path.match(/\/api\/tenders\/new.*/)) {
                    ejsData = ejs.render(tableTemplateReduced, {
                        tableCount: 1,
                        columns: data.columns,
                        tuples: data.tuples
                    });
                }
                $.alert({
                    title: title,
                    draggable: false,
                    rtl: true,
                    closeIcon: true,
                    type: 'blue',
                    content: ejsData,
                    onContentReady: () => {
                        if (!path.match(/\/api\/tenders\/new.*/))
                            styleTablesReduced(1, '50vh', [])
                    },
                    columnClass: 'col-md-6 col-md-offset-3',
                    buttons: []
                });
            },
            error: () => {
                $.alert({
                    title: 'أوبس!',
                    icon: 'fas fa-exclamation-triangle',
                    draggable: false,
                    rtl: true,
                    closeIcon: true,
                    type: 'red',
                    content: `حدث خطأ أثناء تحميل ${title}!`,
                    buttons: {
                        cancel: {
                            text: 'حسنًا',
                            keys: ['enter']
                        }
                    }
                });
            }
        });
    }

    function renderLinks() {
        [...$('td')].filter(item => item.getAttribute('field') === 'requested_items').forEach((item) => {
            let path = `/${item.innerHTML}`;
            let text = 'قائمة المنتجات';
            item.innerHTML = `
                <a class="d-link" onclick="popUp('المنتجات', '${path}');" style="cursor: pointer;">
                    <i class="fas fa-clipboard-list"></i> ${text}
                </a>
            `;
        });
        [...$('td')].filter(item => item.getAttribute('field') === 'offers').forEach((item) => {
            let path = `/${item.innerHTML}`;
            let text = 'قائمة العروض';
            item.innerHTML = `
                <a class="d-link" onclick="popUp('العروض', '${path}');" style="cursor: pointer;">
                    <i class="fas fa-clipboard-list"></i> ${text}
                </a>
            `;
        });
        [...$('td')].filter(item => item.getAttribute('field') === 'tender').forEach((item) => {
            let path = `/${item.innerHTML}?requestId=${item.parentElement.children[0].innerHTML}`;
            let text = 'إجراء مناقصة';
            item.innerHTML = `
                <a class="d-link" onclick="popUp('مناقصة جديدة', '${path}');" style="cursor: pointer;">
                    <i class="fas fa-clipboard-list"></i> ${text}
                </a>
            `;
        });
    }

    function showRequests(path, method) {
        event.preventDefault();
        $.ajax({
            url: path,
            method: method,
            data: {},
            success: (data) => {
                if (path !== '/api/requests/new') {
                    let ejsData = ejs.render(tableTemplate, {
                        title: 'طلبات الاستيراد',
                        tableCount: 0,
                        columns: data.columns,
                        tuples: data.tuples
                    });
                    $('requests-template').html(ejsData);
                    styleTables({}, 0);
                    renderLinks();
                    $('.all-wrapper').css('overflow-y', 'scroll');
                } else {
                    $('requests-template').html(data);
                    $('.all-wrapper').css('overflow-y', 'hidden');
                }
            },
            error: (xhr, ajaxOptions, thrownError) => {
                let ejsData = ejs.render(errTemplate, {errCode: xhr.status, errMessage: thrownError});
                $('requests-template').html(ejsData);
            }
        });
    }
</script>
