<%- include('./partials/head.ejs') %>
<%- include('./partials/sidemenu.ejs') %>
<div class="all-wrapper">
    <form onsubmit="myfunction()">
        <input type="submit">
    </form>
    <requests-template></requests-template>
</div>
<script type="text/javascript">
    function myfunction() {
        event.preventDefault();
        $.ajax({
            url: '/requests',
            method: 'POST',
            data: {},
            success: (data, status) => {
                let ejsData = ejs.render(tableTemplate, {title: 'طلبات الاستيراد', data: data});
                $('requests-template').html(ejsData);
                styleTables();
            }
        });
    }
</script>
<%- include('./partials/footer.ejs') %>
