<div class="all-wrapper">
    <form onsubmit="showAllRequests()">
        <input type="submit">
    </form>
    <requests-template></requests-template>
</div>
<script type="text/javascript">
    function showAllRequests() {
        event.preventDefault();
        $.ajax({
            url: '/requests/api',
            method: 'GET',
            data: {},
            success: (data) => {
                let ejsData = ejs.render(tableTemplate, {
                    title: 'طلبات الاستيراد',
                    columns: [
                        'الخانة الأولى',
                        'الخانة الثانية',
                        'الخانة الثالثة',
                        'الخانة الرابعة'
                    ],
                    tuples: data
                });
                $('requests-template').html(ejsData);
                styleTables();
            }
        });
    }
</script>
