.categories-table {
    margin-top: 30px;
    margin-bottom: 30px;
}
.items-table {
    margin-top: 30px;
}
.submit-category {
    margin-top: 5px;
}
button.main-background.submit-Item.mbutton {
    margin-top: 5px;
}
.add-category .widget-title > span {
    display: block;
    margin: 10px 0;
}
form#addCategory {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}
.categoryChoose {
    width: 100%;
}
form.edit-item:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}